<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <nav>
        <div id="navbar">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/skills">SKILLS</a></li>
            <li><a href="/projects">PROJECTS</a></li>
            <li><a href="/achievements">ACHIEVEMENTS</a></li>
        </div>
    </nav>
</body>
</html>
    